31P-1H3__SAlTY.states
31P-1H3__SAlTY.stateshead
31P-1H3__SAlTY.statess
31P-1H3__SAlTY_100000n.states
31P-1H3__SAlTY_100000n_nu0.states
31P-1H3__SAlTY_10000n.states
31P-1H3__SAlTY_xnu1.states
31P-1H3__SAlTY_xnu1_0-3.states
31P-1H3__SAlTY_xnu3.states
31P-1H3__SAlTY_xnu3_0-3.states
all-data-1.pdf
backproptest-1
computeCostMulti.m
cost_convergence.pdf
gradientDescentMulti.m
grep.bash
LinearReg.m
NeuralNetwork.m
subset-1.pdf
subset-2.pdf
testscript.py
RovibEnerNN.asv
31P-1H3__SAlTY_100000n_c.states
NNBackPropagation_tanh.m
print.awk
Test_3.m
Test_3.mat
Test_1.m
Test_1.mat
Test_2.mat
.gitignore
